.Task {
  margin: 0.4rem auto;
  margin-bottom: 5px;
  color: gray;
  user-select: none;
}

.Task:hover {
  cursor: pointer;
  color: black;
}

.Task.Completed {
  color: green;
}

.Task .Task-Name,
.Task .Task-Desc {
  margin: 0px auto;
}

.Task .Task-Desc {
  font-size: 1rem;
}
